<p>Olá {{user.available_name}},</p>
<p>
  A conversa #{{conversation.display_id}} em {{inbox.name}}
  ultrapassou o VAR para a próxima resposta conforme a política {{sla_policy.name}}.
</p>
<p>
<a href="{{action_url}}">Por favor, resolva imediatamente.</a>
</p>